<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width", initial-scale="1.0">
		<meta http-equiv="X-UA-Compatible" conten="ie-edge">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<title>YelpCamp</title>		
	</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-expand-md navbar-expand-sm navbar-dark bg-dark">
	<div class="container-fluid">  
			
			<i class="material-icons text-white">landscape</i>
			<a class="navbar-brand mr-auto" href="/">YelpCamp</a>	
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<% if(!currentUser){ %>
						<li class="nav-item">
						  <a class="nav-link" href="/login">Login</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link" href="/register">Sign Up</a>
						</li>
					<% }else{ %>
						<li class="nav-item">
						  <a class="nav-link" href="#">Login as <strong><%= currentUser.username %></strong></a>
						</li>
						<li class="nav-item">
						  <a class="nav-item nav-link" href="/logout">Logout</a>
						</li>					  
					<% } %>
				</ul>
		   </div>
		  
	</div>
</nav>
	
<!-- landing are -->
<div id="landing" class="d-flex flex-column align-items-center justify-content-center text-center">
	
		<div id="landing-text" class="text-white">Welcome to YelpCamp!</div>
		<div>
			<a href="/campgrounds" class="btn btn-info">Visit Campgrounds</a>	
		</div>
</div>
<%- include("./partials/footer") %>
	
	
