<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=-device-width", initial-scale="1.0">
		<meta http-equiv="X-UA-Compatible" conten="ie-edge">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
		<title>YelpCamp</title>		
	</head>
<body>
<div id="landing" class="d-flex flex-column align-items-center justify-content-center text-center">
	
		<div id="landing-text" class="text-white">Welcome to YelpCamp!</div>
		<div>
			<a href="/campgrounds" class="btn btn-info">Visit Campgrounds</a>	
		</div>
</div>
</body>
</html>